[submodule "tests/GateWaySimulator/lib/3rdparty/argtable3"]
	path = tests/GateWaySimulator/lib/3rdparty/argtable3
	url = ../../HEYAHONG/argtable3.git
[submodule "lib/3rdparty/paho.mqtt.embedded-c"]
	path = lib/3rdparty/paho.mqtt.embedded-c
	url = ../../HEYAHONG/paho.mqtt.embedded-c.git
[submodule "lib/3rdparty/protobuf-c"]
	path = lib/3rdparty/protobuf-c
	url = ../../HEYAHONG/protobuf-c.git
